* {
  box-sizing: border-box;
}

.boxes {
padding: 12%;
border: 1px solid;
margin: 10px;
display: inline-block;
aspect-ratio: 1 / 1;
position: relative;
border-radius: 5%;
}

.App{
  align-items:  center;
}